* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b9b9b9;
  font-family: arial;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 10px;
}

h2 {
  margin-top: 20px;
}

ul {
  position: absolute;
  top: 30%;
  left: 20%;
}

.add-form {
  position: absolute;
  top: 120px;
  right: 30px;
}

.search-form {
  position: absolute;
  top: 120px;
  left: 30px;
}

.add-form > ul {
  text-align: center;
  list-style: none;
}
